/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "LXGW WenKai TC", sans-serif;
  letter-spacing: 0.1rem;
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  background-color: var(--bg-secondary);
}

/* variables */
:root {
  --text-primary: #1d1002;
  --text-secondary: #5f3201;
  --text-tertiary: rgb(255, 255, 255);

  --bg-primary: #dcb57f;
  --bg-secondary: rgb(255, 249, 235);
}

/* global */
a {
  text-decoration: none;
  color: var(--text-primary);
}

/* header */

header .top {
  padding: 1rem;
  background-image: url("./images/background.png");
}

header .top h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

header .top p {
  font-size: 1.2rem;
}

nav {
  background: var(--bg-primary);
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  padding: 1rem 1.5rem;
  font-size: 1.3rem;
}

nav ul li a {
  color: var(--text-secondary);
  transition: color 0.3s ease-out;
}

nav ul li a:hover {
  color: var(--text-tertiary);
  border-bottom: 3px solid var(--text-tertiary);
}

.active {
  color: var(--text-tertiary);
  border-bottom: 3px solid var(--text-tertiary);

}

.container {
  width: 85%;
  /* max-width: 1400px; */
  margin: auto;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

section.left {
  flex: 1 1 300px;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

section.left h2 {
  margin-bottom: 1rem;
}

section.left img {
  width: 100%;
}

section.left figure {
  text-align: center;
  margin-bottom: 1rem;
}

section.left table,
section.left td {
  padding: 0.3rem 0;
  font-size: 1.1rem;
}

section.right {
  flex: 4 1 500px;
  margin-left: 2rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

section.right h2 {
  margin-bottom: 1rem;
}

section.right p {
  margin-bottom: 0.6rem;
  font-size: 1.1rem;

}

hr {
  margin: 1rem 0;
}

section.right ul {
  list-style-position: outside;
  padding: 0 1.8rem;
}

section.right ul li {
  margin: 0.5rem;
}
